.buttonPrimary {
  background-color: transparent;
  color: #6182F9;
  font: inherint;
  border: 1px solid #6182F9;
  padding: 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: .5s;
  outline: none;
}

.buttonPrimary:hover {
  border-radius: 25px;
  text-shadow:
    0px -1px 0 #6182F9,
    0px -1px 0 #6182F9,
    0px -1px 0 #6182F9,
    0px -1px 0 #6182F9;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
