.App {
  text-align: center;
}

.AppLogo {
  height: 70px;
  pointer-events: none;
  margin-top: 25px;
}

@media (prefers-reduced-motion: no-preference) {
  .AppLogo {
    animation: AppLogoSpin infinite 20s linear;
  }
}

@keyframes AppLogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: Raleway;
  color: #6182f9;
  text-align: center;
}

